<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ee461lproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hookem_hand"
        android:label="Occupato"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StudentOptions"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".event_details"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".OrganizationOptions"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <activity android:name=".org_event_details" />

        <activity android:name=".CreateUser"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ForgotPassword"></activity>
    </application>

</manifest>